@media screen and (max-device-width: 979px) {
    .full-menu {
        display: none;
    }
    .responsive-img {
        width: 100%;
        display: block;
    }
} 
@media screen and (min-device-width: 980px) {
    .small-menu {
        display: none;
    }
    .navbar {
        height: 95px;
    }
    .picture-section {
        display: flex;
        flex-direction: row;
    }
    .responsive-img {
        width: 100%;
        height: auto;
    }
} 

@media screen and (min-device-width: 1024px) {
    .title-banner {
        height: 580px;
    }
    .robin-hood-section {
        height: 245px;
    }
    .robin-hood-section .arrow {
        width: 235px;
    }
    .picture-section {
        height: 295px;
    }
} 

@media screen and (min-device-width: 980px) and (max-device-width: 1023px) {
    .title-banner {
        height: 550px;
    }
    .robin-hood-section {
        height: 235px;
    }
    .robin-hood-section .arrow {
        width: 220px;
    }
    .picture-section {
        height: 290px;
    }
}

@media screen and (min-device-width: 640px) and (max-device-width: 979px) {
    .navbar {
        height: 75px;
    }
    .title-banner {
        height: 350px;
    }
    .robin-hood-section {
        height: 150px;
    }
    .robin-hood-section .arrow {
        width: 145px;
    }
} 

@media screen and (min-device-width: 320px) and (max-device-width: 639px) {
    .navbar {
        height: 35px;
    }
    .title-banner {
        height: 175px;
    }
    .robin-hood-section {
        height: 80px;
    }
    .robin-hood-section .arrow {
        width: 75px;
    }
} 
