@media screen and (max-device-width: 979px) {
    .full-menu {
        display: none;
    }
    .picture-section .arrow {
        width: 100vw;
        height: 70vw;
    }
    .text-block .right {
        display: none;
    }
} 
@media screen and (min-device-width: 980px) {
    .small-menu {
        display: none;
    }
    .navbar {
        height: 95px;
    }
    .picture-section {
        display: flex;
        flex-direction: row;
    }
    .picture-section div {
        width: 33.4vw;
    }
    .text-block {
        display: flex;
        justify-content: space-between;
    }
    .text-block div {
        max-width: 47%;
    }
    .text-block .right {
        font-weight: 700;
    }
} 

@media screen and (min-device-width: 1024px) {
    .title-banner {
        height: 580px;
    }
    .robin-hood-section {
        height: 245px;
    }
    .robin-hood-section .arrow {
        width: 235px;
    }
    .picture-section {
        height: 295px;
    }
    h2 {
        font-size: 40px;
    }
    h1 {
        font-size: 55px;
        font-weight: 550;
        margin: 10px 0;
    }
    .title-banner-container {
        margin: 150px 260px  0px 150px;
    }
    .secondary-title {
        max-width: 600px;
    }
} 

@media screen and (min-device-width: 980px) and (max-device-width: 1023px) {
    .title-banner {
        height: 550px;
    }
    .robin-hood-section {
        height: 235px;
    }
    .robin-hood-section .arrow {
        width: 220px;
    }
    .picture-section {
        height: 290px;
    }
    h2 {
        font-size: 35px;
    }
    h1 {
        font-size: 50px;
        font-weight: 550;
        margin: 10px 0;
    }
    .title-banner-container {
        margin: 150px 260px  0px 150px;
    }
    .secondary-title {
        max-width: 550px;
    }
}

@media screen and (min-device-width: 640px) and (max-device-width: 979px) {
    .navbar {
        height: 75px;
    }
    .title-banner {
        height: 350px;
    }
    .robin-hood-section {
        height: 150px;
    }
    .robin-hood-section .arrow {
        width: 145px;
    }
    h2 {
        font-size: 30px;
    }
} 

@media screen and (min-device-width: 320px) and (max-device-width: 639px) {
    .navbar {
        height: 35px;
    }
    .title-banner {
        height: 175px;
    }
    .robin-hood-section {
        height: 80px;
    }
    .robin-hood-section .arrow {
        width: 75px;
    }
    h2 {
        font-size: 21px;
    }
} 
